.book-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  margin: 20px;
  height: 700px; /* Ensure all cards have the same height */
}

.book-card__image {
  width: 100%;
  height: 100%; /* Ensure all images have the same height */
  object-fit: cover; /* Ensure images cover the area without distortion */
}

.book-card__content {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Distribute space evenly */
  flex-grow: 1;
}

.book-card__title {
  font-size: 1.5rem;
  margin: 10px 0;
}

.book-card__author {
  font-size: 1.2rem;
  color: #555;
  margin: 5px 0;
}

.book-card__description {
  font-size: 1rem;
  color: #777;
  margin: 10px 0;
  flex-grow: 1; /* Allow description to take up remaining space */
}

.book-card__price {
  font-size: 1.2rem;
  color: #000;
  margin: 10px 0;
}

.book-card__cart-button {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 10px;
}

.book-card__cart-button:hover {
  background-color: #555;
}